@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$dark: #000;
$blue: #14213d;
$prime: #fca311;
$grey: #e5e5e5;
$light: #fff;

* {
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0;

    .box {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: transparent;
        background: rgb(20, 33, 61);
        background: linear-gradient(90deg, rgba(20, 33, 61, 1) 12%, rgba(0, 0, 0, 1) 100%);

        a{
            color: $light;
            text-decoration: none;
            margin: 25px;
            font-size: 36px;
            transition: color 0.5s;

            &:hover {
                color: $prime;
            }
        }
    }
}